
@content = {

<div class="sep"></div>

<div class="parallax-slider">
          <!-- Slider (Parallax Slider) -->            
            <div id="da-slider" class="da-slider">
              <!-- Each slide should be enclosed inside "da-slide" class -->
              <div class="da-slide">
                <div class="slide-details">
                  <!-- Heading -->
                  <h2><span>CidadãoRecifense</span></h2>
                  <!-- Para -->
                  <p>O portal da cidade do Recife. Feito pela população, para a população!</p>
                </div>
              </div>
              <div class="da-slide">
                <h2><span>Orçamento!</span></h2>
                <p>Você sabia que tem como saber como a prefeitura gasta o NOSSO dinheiro?</p>
                <a href="@routes.FinancasController.showCompareOrcamentoAnual()" class="da-link">Saiba aqui</a>
              </div>
              <div class="da-slide">
              	<h2><span>Opções de Cultura e Lazer</span></h2>
                <p>Quer visitar ir ao Teatro ou visitar os Museus, Pontes e Shoppings do Recife? O que está esperando?</p>
                <a href="@routes.CulturaController.pontos(99)" class="da-link">Saiba aqui</a>
              </div>
              <div class="da-slide">
              	<h2><span>Precisa de um atendimento médico?</span></h2>
                <p>Se precisar de um atendimento médico, é só procurar no menu de Unidades de Saúde. E indicaremos os mais próximos de você!</p>
                <a href="@routes.SaudeController.unidadesSaude(99)" class="da-link">Saiba aqui</a>
              </div>
              <div class="da-slide">
                <h2><span>Creches e escolas</span></h2>
                <p>Precisa de uma creche? Ou quer saber informações sobre a escola do seu filho? Te mostramos também.</p>
                <a href="@routes.EducacaoController.escolas(99)" class="da-link">Saiba aqui</a>
              </div>
              <nav class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
              </nav>
            </div>
  </div>

<div class="sep"></div>

<div class="slider-features">
  <div class="container">
    <div class="row">
      
      <div class="col-md-3 col-sm-3">
        <div class="onethree">
          <div class="onethree-left">
            <!-- Font awesome icon -->
            <div class="img"><i class="icon-money"></i></div>
          </div>
          <div class="onethree-right">
            <!-- Title and meta -->
            <h5><a href="@routes.FinancasController.showCompareOrcamentoAnual()">Orçamento</a></h5>
            <p class="meta">Veja como é gasto o orçamento da nossa cidade! Veja o 
            <a href="@routes.FinancasController.showCompareOrcamentoAnual()">comparativo 
            anual das despesas</a>, ou a <a href="@routes.FinancasController.show("2013")">
            despesa do ano detalhada</a>, como o <a href="@routes.FinancasController.show("2013")">de 2013</a>
             ou <a href="@routes.FinancasController.show("2012")">de 2012</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      
      <div class="col-md-3 col-sm-3">
        <div class="onethree">
          <div class="onethree-left">
            <div class="img"><i class="icon-picture"></i></div>
          </div>
          <div class="onethree-right">
            <h5><a href="@routes.EducacaoController.escolas(1)">Cultura e Turismo</a></h5>
            <p class="meta">Veja o <a href="@routes.CulturaController.orcamento()">
            Orçamento da Cultura</a>, 
            localize os <a href="@routes.CulturaController.pontos(99)">Pontos Turísticos</a>,
            os <a href="@routes.CulturaController.pontos(3)">Teatros</a>, 
            os <a href="@routes.CulturaController.pontos(4)">Museus</a>,
            as <a href="@routes.CulturaController.pontos(5)">Pontes</a>,
            e os <a href="@routes.CulturaController.pontos(2)">Shoppings</a>
            mais próximos.
          </div>
          <div class="clearfix"></div>   
        </div>     
      </div>
      
      <div class="col-md-3 col-sm-3">
        <div class="onethree">
          <div class="onethree-left">
            <div class="img"><i class="icon-plus-sign"></i></div>
          </div>
          <div class="onethree-right">
            <h5><a href="@routes.SaudeController.unidadesSaude(99)">Saúde</a></h5>
            <p class="meta">Veja o <a href="@routes.SaudeController.orcamento()">Orçamento 
            da saúde</a>, <a href="@routes.SaudeController.vacinacao()">
            receba lembretes de vacinação </a>, e Localize 
            <a href="@routes.SaudeController.unidadesSaude(99)">unidades de saúde, clínicas e hospitais</a>
             perto de você.</p>
          </div>
          <div class="clearfix"></div>  
        </div>      
      </div>
      
      <div class="col-md-3 col-sm-3">
        <div class="onethree">
          <div class="onethree-left">
            <div class="img"><i class="icon-edit"></i></div>
          </div>
          <div class="onethree-right">
            <h5><a href="@routes.EducacaoController.escolas(1)">Educação</a></h5>
            <p class="meta">Veja o <a href="@routes.EducacaoController.orcamento()">
            Orçamento da Educação</a>, 
            localize as <a href="@routes.EducacaoController.escolas(1)">Escolas</a> e 
            as <a href="@routes.EducacaoController.escolas(2)">Creches </a> próximas a você 
            e veja o detalhamento de cada uma.</p>
          </div>
          <div class="clearfix"></div>   
        </div>     
      </div>
      
    </div>
  </div>
</div>

}

@main(content)