@(escola: models.educacao.Escola)

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>

  </head>
  <body>
    <div id="map-canvas"/>
  </body>
  
  
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsAKBtrmjxAF0ibltJFWKnKfbrcmXqUaM&sensor=false">
    </script>
    <script type="text/javascript">
		function initialize() {
		    	 
			var myLatlng = new google.maps.LatLng(@escola.getLatitude(), @escola.getLongitude());
			    	
			var mapOptions = {
				center: myLatlng,
				zoom: 16,
				mapTypeId: google.maps.MapTypeId.ROADMAP 
			};
			        
			var map = new google.maps.Map(document.getElementById("map-canvas"),
			mapOptions);
			     

			var marker = new google.maps.Marker({
				position: new google.maps.LatLng(@escola.getLatitude(), @escola.getLongitude()),
				map: map,
				title:"@escola.getNome()"
			});
		
			google.maps.event.addListener(marker, 'click', function() {
				infowindow.setContent(						 
					 '<p><b>@escola.getNome()</b><br>'+
					 'Endereço: @escola.getEnderecoCompleto()<br>'+
					 '<a href="@routes.EducacaoController.showEscola(escola.getCodigoEscola())" target="_top">Mais Informações</a></p>'
				)
				infowindow.open(map, marker);
			});
			
			var infowindow = new google.maps.InfoWindow({
			});	
			
		}
		google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  
</html>