@(items: List[models.saude.UnidadeSaude])

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>

  </head>
  <body>
    <div id="map-canvas"/>
  </body>
  
  
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsAKBtrmjxAF0ibltJFWKnKfbrcmXqUaM&sensor=false">
    </script>
    <script type="text/javascript">
		function initialize() {
		    	 
			var myLatlng = new google.maps.LatLng(-8.0500,-34.9000); @*centro de recife*@
			    	
			var mapOptions = {
				center: myLatlng,
				zoom: 12,
				mapTypeId: google.maps.MapTypeId.ROADMAP 
			};
			        
			var map = new google.maps.Map(document.getElementById("map-canvas"),
			mapOptions);
			     
			@for((item, index) <- items.zipWithIndex){
				var marker@index = new google.maps.Marker({
					position: new google.maps.LatLng(@item.getLatitude(), @item.getLongitude()),
					map: map,
					title:"@item.getNome()"
				});
			
				google.maps.event.addListener(marker@index, 'click', function() {
					infowindow.setContent(						 
						 '<p><b>@item.getNome()</b><br>'+
						 'Tipo: @item.getTipoNome()<br>' + 
						 'Especialidades: @item.getEspecialidades<br>' +
						 'Endereço: @item.getEnderecoCompleto()<br>'+
						 '<a href="@routes.SaudeController.showUnidadeSaude(item.getId())" target="_top">Mais Informações</a></p>'
					)
					infowindow.open(map, marker@index);
				});
			}
			
			var infowindow = new google.maps.InfoWindow({
				<!-- content: 'Bla bla bla bla bla' -->
			});	
			
		}
		google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  
</html>