@content = {

<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Sobre o Site</h3>
      </div>
    </div>
  </div>
</div>


<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <div class="panel-group" id="accordion">
           
			<div class="panel panel-default">
				
				<div id="collapse1" class="panel-collapse in" style="height: auto;">
	               <div class="panel-body">
		             <div class="widget">
		                <div class="widget-content" style="display: block;">
		                	*Obs.: Devido a uma restrição do concurso <a href="http://cidadaointeligente.rec.br/">
		                	CidadãoInteligente</a>, esse site no endereço <a href="http://www.cidadaorecifense.com.br">
		                	www.cidadaorecifense.com.br</a> não pode ser modificado, sob pena de ser desclassificado.
		                	<br>Uma versão mais atualizada será disponibilizada em breve no endereço 
		                	<a href="http://www.cidadaorecifense.com"> www.cidadaorecifense.com</a>. A diferença é o 
		                	<b>.com</b>, ao invés do <b>.com.br</b> .
		                	<h3>Sobre</h3>
		                	<p>
								O <b>CidadãoRecifense.com.br</b> foi criado com o objetivo de melhorar a vida 
								do cidadão recifense. Com o seu acesso, é possível:<br>
								- Um maior acompanhamento do poder público, pela visualização e controle 
								do orçamento da cidade pela população, indicando quais áreais são mais 
								ou menos priorizadas pela administração;<br>
								- Acessar serviços de localização e visualização de detalhes das unidades de saúde, 
								clínicas e hospitais próximas ao cidadão, facilitando a sua vida na hora de localizar 
								uma unidade de saúde que atenda à sua necessidade, contribuindo tanto para uma 
								maior rapidez no atendimento, quanto tendo impacto no trânsito da cidade;<br>
								- Acessar serviços de localização e visualização de detalhes sobre creches
								e escolas próximas do cidadão, facilitando a sua vida na hora de localizar 
								uma unidade mais próxima da sua casa, também evitando deslocamentos desnecessários;<br>
								- Acessar o calendário de vacinação e utilizar um serviço de avisos, permitindo
								ao cidadão informar sua data de nascimento e a dos seus filhos e ser informado 
								automaticamente quando chegar o momento da próxima vacina;<br>
								* O autor do site tem como objetivo agregar mais informações e serviços ao mesmo, 
								como informações e serviços (parecidos aos já disponibilizados) relacionados ao
								turismo e a coleta seletiva de resíduos da cidade. Se quiser saber das novidades,
								registre seu e-mail abaixo, e te informaremos quando ficarem prontas (enviaremos 
								no máximo 1 e-mail por semana e não divulgaremos seus dados A NINGUÉM).
							</p> 
							<h3>Os dados</h3>
							<p>Todos os dados apresentados pelo site são obtidos através de fontes oficiais da 
							administração pública, sendo prioritariamente acessados os conjuntos de dados de saúde, 
							educação e finanças da Prefeitura Municipal do Recife, disponíveis em 
							<a href="http://dados.recife.pe.gov.br">http://dados.recife.pe.gov.br</a> .<br>
							Os dados serão atualizados mensalmente, tendo a última atualização ocorrido em 15/12/2013.
							</p>
							<h3>Quem Somos</h3>
							<p>
							+ Este site foi desenvolvido por<a href="mailto:kellyton@@kellyton.com.br">
							Kellyton Brito</a>, professor do Departamento de Estatística e Informática da Universidade
							Federal Rural de Pernambuco, e Doutorando em Engenharia de Software pela Universidade
							Federal de Pernambuco.<br>
							+ Colaborou com o projeto <a class="brand" href="https://twitter.com/misaelneto" target="_blank">
							Misael Neto</a>, participando de discussões e promovendo a infra-estrutura para hospedagem do 
							mesmo;<br>
							</p>
							<p>
							Também são importantes o apoio da <a href="http://www.ufrpe.br" target="_blank">Universidade Federal Rural de Pernambuco</a>,
							a <a href="http://www.cin.ufpe.br" target="_blank">Universidade Federal de Pernambuco</a>, 
							e o <a href="http://www.ines.org.br/" target="_blank">Instituto Nacional de Ciência e Tecnologia para Engenharia de Software</a>,
							por proverem os ambientes necessários para reflexão, discussões e implementação desta iniciativa.
							</p>  
		                </div>
		              </div>
	                 
	               </div>
	             </div>
			</div>
         </div>
      </div>
    </div>
  </div>
</div>


}

@main(content)