@(unidade: models.saude.UnidadeSaude)

@content = {

<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Unidades de Saude: @unidade.getNome()</h3>
      </div>
    </div>
  </div>
</div>


<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <div class="panel-group" id="accordion">
           
           @************Primeira parte *@
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						@* <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1"> *@
						<a class="accordion-toggle" data-parent="#accordion">
							Localização
						</a>
					</h4>
				</div>
				
				<div id="collapse1" class="panel-collapse in" style="height: auto;">
	               <div class="panel-body">
		               	<div class="widget-content" align="center">
							<iframe src="@routes.MapService.showMapUnidadeSaude(unidade.getId())" width="100%" height="300px"></iframe><br>
							<a href="@routes.MapService.showMapUnidadeSaude(unidade.getId())" target="_blank">Clique AQUI para expandir</a><br>
						</div>
					</div>
				</div>
			</div>
			
			@************Segunda parte *@
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle" data-parent="#accordion">
							Dados da Unidade
						</a>
					</h4>
				</div>	                 
	            <div id="collapse2" class="panel-collapse in">   
	            	<div class="panel-body">    
	             		<div class="widget">
	                		<div class="widget-content" style="display: block;">
								<p>
								<b>@unidade.getNome() </b><br>
								<b>Tipo:</b> @unidade.getTipoNome<br>
								<b>Endereço:</b> @unidade.getEnderecoCompleto()<br>
								<b>Telefone:</b> @unidade.getFone()<br>
								<b>Especialidades:</b> @unidade.getEspecialidades()<br>
								<b>Informações adicionais:</b> @unidade.getExtraInfo()
								</p>
	                		</div>
	              		</div>
	              	</div>
	            </div>
			</div>
         </div>
      </div>
    </div>
  </div>
</div>

}

@main(content)